################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

bravobeat:

  # List of Bravo Nodes to collect from
  nodes:
      # Define node with period, address and metrics
    - address: localhost:9003
      period: 30s
      metrics: 
        - "CPU"
        - "load"
        - "memory"
        - "swap"
        - "interface"
        - "df"
        - "ptp_status"
        - "eth_status"
